body {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#count {
  font-size: 100px;
  color: rgb(80, 175, 170);
  font-weight: 500;
  user-select: none;
} 