.timeContainer {
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.timeContainer * {
  user-select: none;
}

button {
  background-color: red;
  border: none;
  width: 100px;
  height: 25px;
  margin-left: 48%;
  font-weight: bold;
}